<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epitrack.guardioes" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.epitrack.guardioes.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.epitrack.guardioes.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".manager.Application"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Home" >
        <activity android:name="com.github.mmin18.layoutcast.ResetActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".view.account.LoginActivity"
            android:exported="false"
            android:parentActivityName=".view.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent.ActionBar" />
        <activity
            android:name=".view.account.CreateAccountActivity"
            android:exported="false"
            android:parentActivityName=".view.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent.ActionBar" />
        <activity
            android:name=".view.account.SocialLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent.ActionBar" />
        # Help
        <activity
            android:name=".view.menu.help.Term"
            android:exported="false"
            android:label="@string/term"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.menu.help.Report"
            android:exported="false"
            android:label="@string/report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.menu.help.TutorialActivity"
            android:exported="false"
            android:label="@string/tutorial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar"/>
        # Profile
        <activity
            android:name=".view.menu.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ActionBar.Profile" />
        <activity
            android:name=".view.menu.profile.UserActivity"
            android:exported="false"
            android:parentActivityName=".view.menu.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ActionBar.Profile" />
        <activity
            android:name=".view.menu.profile.AvatarActivity"
            android:exported="false"
            android:label="@string/avatar"
            android:parentActivityName=".view.menu.profile.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.menu.profile.InterestActivity"
            android:exported="false"
            android:label="@string/interest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.menu.ImageActivity"
            android:exported="false"
            android:label="@string/take_photo"
            android:parentActivityName=".view.menu.profile.UserActivity"
            android:screenOrientation="portrait" />
        # Home
        <activity
            android:name=".view.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Menu" />
        <activity
            android:name=".view.NoticeActivity"
            android:exported="false"
            android:parentActivityName=".view.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Notice" />
        <activity
            android:name=".view.MapSymptomActivity"
            android:exported="false"
            android:label="@string/map_health"
            android:parentActivityName=".view.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tip.TipActivity"
            android:exported="false"
            android:label="@string/tip_health"
            android:parentActivityName=".view.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tip.UsefulPhonesActivity"
            android:exported="false"
            android:label="@string/useful_phones"
            android:parentActivityName=".view.tip.TipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tip.VaccineActivity"
            android:exported="false"
            android:label="@string/vaccine"
            android:parentActivityName=".view.tip.TipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tip.CareActivity"
            android:exported="false"
            android:label="@string/care"
            android:parentActivityName=".view.tip.TipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tip.PreventionActivity"
            android:exported="false"
            android:label="@string/prevention"
            android:parentActivityName=".view.tip.TipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.diary.DiaryActivity"
            android:exported="false"
            android:parentActivityName=".view.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MapPointActivity"
            android:exported="false"
            android:parentActivityName=".view.HomeActivity"
            android:screenOrientation="portrait" />
        # Survey
        <activity
            android:name=".view.survey.SelectParticipantActivity"
            android:exported="false"
            android:parentActivityName=".view.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ActionBar.Survey" />
        <activity
            android:name=".view.survey.StateActivity"
            android:exported="false"
            android:parentActivityName=".view.survey.SelectParticipantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Survey" />
        <activity
            android:name=".view.survey.SymptomActivity"
            android:exported="false"
            android:parentActivityName=".view.survey.StateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Survey" />
        <activity
            android:name=".view.survey.ShareActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar.Share" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.epitrack.guardioes" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.RegisterService"
            android:exported="false" />
        <service
            android:name=".service.InstanceService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".service.PushService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d8ff9925924fa10046e7f8eb13fcbdc1ada7b548" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/key_facebook" />
        <provider android:authorities="com.facebook.app.FacebookContentProvider179676235701655"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6qqXlbHm5O3JEsD9hTc383FQC8HElyVk" />

    </application>

</manifest>
